node_modules/
dist/
*adminsdk*.json
*service-account*.json
*PrivateKey*.json
*serviceAccount*.json
*.js.map
.ts-node-cache/
.env
.env.local
.env.*.local
*.tsbuildinfo
coverage/
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage.rules.debug.log
hs_err_pid*.log
emulator.log
emulator-err.log
postman/newman-report.html
